<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Inventory</title>
</head>
<body>
<h1>Inventory</h1>
<p><a th:href="@{/search}">Back to search</a></p>
<div th:if="${inventory.cards.size()} == 0">
    <p>Your inventory is empty.</p>
</div>
<div th:if="${inventory.cards.size()} > 0">
    <ul>
        <li th:each="card : ${inventory.cards}">
            <h2 th:text="${card.name}"></h2>
            <p><strong>Mana Cost:</strong> <span th:text="${card.mana_cost}">N/A</span></p>
            <p><strong>Type:</strong> <span th:text="${card.type_line}">N/A</span></p>
            <p><strong>Oracle Text:</strong> <span th:text="${card.oracle_text}">N/A</span></p>
            <form th:action="@{/addCardToDeck}" method="post">
                <input type="hidden" name="cardName" th:value="${card.name}" />
                <button type="submit">Add to Deck</button>
            </form>
            <hr/>
        </li>
    </ul>
</div>
</body>
</html>
