<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Inventory</title>
</head>
<body>
<h1>Inventory</h1>
<p><a th:href="@{/search}">Back to search</a></p>
<div th:if="${inventory.size()} == 0">
    <p>Your inventory is empty.</p>
</div>
<div th:if="${inventory.size()} > 0">
    <ul>
        <li th:each="card : ${inventory}">
            <h2 th:text="${card.name}"></h2>
            <div th:if="${card.imageUrl != null}">
                <img th:src="${card.imageUrl}" alt="Card Image" />
            </div>
            <div th:unless="${card.imageUrl != null}">
                <p>No image available.</p>
            </div>
            <form th:action="@{/removeCardFromInventory}" method="post">
                <input type="hidden" name="cardId" th:value="${card.id}" />
                <button type="submit">Remove from Inventory</button>
            </form>
            <hr/>
        </li>
    </ul>
</div>

</body>
</html>
